.nav-container{
    background-color:rgb(97, 96, 96);
    padding: 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.anchor-nav{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.logo{
    width: 8rem;
}